* {
    margin: 0px;

}

/* banner section */
.banner {
    background-color: #FFF;
    height: 80%;
}

.banner-img img {
    width: 90%;
    height: 100%;
}

.banner-grid {
    display: flex;
    gap: 20%;
    align-items: center;
}

.banner-text {
    margin-left: 10%;

}

.goat {
    font-size: 5em;
    background-image: linear-gradient(to right, rgb(255, 0, 255), blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bolder;
}

.banner-tittle {
    font-size: 3em;
    font-weight: 600;
}

.btn-li {
    list-style: none;
    margin: 5%;
    font-size: 2em;
    color: #534C64;
}

.banner-btn1 {
    border: 1px solid rgb(188, 181, 181);
    border-radius: 48px;
    background-color: rgb(236, 74, 128);
    color: #FFF;
    font-weight: 200;
    line-height: normal;
    width: 8em;
    height: 3em;
}

.banner-btn2 {
    border: 1px solid rgb(188, 181, 181);
    border-radius: 48px;
    background-color: #4EC5F7;
    color: #FFF;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    width: 8em;
    height: 3em;
}

/* banner */
/* online games */
.online-games {
    margin-top: 5%;
    text-align: center;
}

.og-h1-span {
    background-image: linear-gradient(to right, rgb(255, 0, 255), blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.og-h1 {
    font-size: 3em;
}
.og-img {
    display: flex;
    justify-content: center;
    
    height: 50%;
    margin-top: 1%;
   
    padding: 0px 100px;
}
.og-img-div{
     text-align: start;
}
.og-img-div>img{
    width: 90%;
    height: 100%;
}
.play-games{
    margin-top: 5%;
    display: flex;
    
}
.play-games-img{
    padding-left: 2%;
    
}
.play-games-text{
   
   width: 48%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
.play-games-grid-1{
    
    text-align: end;
    width: 60%;
}
.play-games-img>img{
    width: 100%;
    height: 100%;
}
#Play-Instantly{
    color: rgb(236, 74, 128)
}
.play-games-text-tittle{
    font-size: 3em;
    font-weight: bold;
}
.grey-color{
    color: #534C64;
}
#image-position{
    width: 17%;
    height: 37%;
    position: relative;
    left: 40%;
    bottom: 200px;

}
@media screen and (max-width:567px) {

    .banner-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-text {
        margin-left: 0%;
    }
    .og-img {
        flex-direction: column;
        /* justify-content: center; */
        height: 50%;
        margin-top: 1%;
        margin-left: 7%;
        padding:0px 50px;
    }
    .og-img-div>img{
       margin: 1% 0%;
    }
}